        <div data-role="page" data-theme="b" id="page1">
            <div data-theme="b" data-role="header">
                <h3>
                    DigiTravel - Login
                </h3>
            </div>
            <div data-role="content">
				<form rel="external" name="login" action="/sessions" method="post">
					<div data-role="fieldcontain">
						<fieldset data-role="controlgroup">
							<label for="textinput1">
								Email Address
							</label>
							<input name="user[email]" id="textinput1" placeholder="" value="" type="email" />
						</fieldset>
					</div>
					<div data-role="fieldcontain">
						<fieldset data-role="controlgroup">
							<label for="textinput2">
								Password
							</label>
							<input name="user[password]" id="textinput2" placeholder="" value="" type="password" />
						</fieldset>
					</div>
					<input type="submit" name="commit" value="login" data-theme="b" data-icon="forward" data-iconpos="left"/>
					<input type="submit" name="commit" value="register" data-theme="e" data-icon="arrow-u" data-iconpos="left"/>
				</form>
            </div>
            <div data-theme="b" data-role="footer">
                <h5>
                    &copy; 2012 CS309 Team F2. All Rights Reserved.
                </h5>
            </div>
        </div>
