	<!--Header Navigation-->
	<DIV class="ui-layout-pane ui-layout-north" style="height:50px;">
	<%= image_tag("dt_micro.png", :style => "float:left;margin-left:20px;margin-top:2px;") %>
		<div class="routeModBtns" style="margin-left:120px; margin-top:10px;">
			<h2 style="display:inline">Route Management: </h2>
			<button id="new">New</button>
			<button id="rename">Rename</button>
			<button id="edit">Edit</button>
			<button id="save">Save</button>
			<button id="delete">Delete</button>
			<button id="buildFS">Build Fast Route</button>
			<button id="logout" style="float:right;margin-right:20px;">Log Out</button>
		</div>
	</DIV>
	
	<!--Center Content-->
	<DIV class="ui-layout-pane ui-layout-center">
		<iframe id="map_frame" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://digitravel.herokuapp.com/googlemap.html"></iframe>
	</DIV>
	
	<!--Left Navigation-->
	<DIV class="ui-layout-pane ui-layout-west">
		<div id="accordion">
			<h3><a href="#">Session Routes</a></h3>
			<div>
				<p>
				Session Routes go here with links that change the content in the center content area.
				</p>
				<button>Route XYZ</button>
				<button>Route XYZ</button>
			</div>
			<h3><a href="#">Route History</a></h3>
			<div>
				<p>
				Route History links go here that change the content in the center content area.
				</p>
				<button>Route XYZ</button>
				<button>Route XYZ</button>
			</div>
		</div>
	</DIV>
	
	<!--Footer-->
	<DIV class="ui-layout-pane ui-layout-south">
		<h5 style="color: #333;text-shadow: 0 1px 0 white;margin-left:35%;">
			&copy; 2012 CS309 Team F2. All Rights Reserved.
		</h5>
	</DIV>
	
	<script type="text/javascript">
		//remove the pane backgrounds and borders
		//must go here because it has to run after they've loadeded.
		pageLayout = $('body').layout();
			for(property in pageLayout.panes){
				if(pageLayout.panes.hasOwnProperty(property)){
					pageLayout.panes[property].css('border', 'none');
					pageLayout.panes[property].css('background-color', 'transparent');
				}
			}
	</script>