        <div data-role="page" data-theme="b" id="page8">
            <div data-theme="b" data-role="header" data-position="inline">
				<a href="/home/" data-icon="home" data-theme="c">Home</a>
                <h3>
                    History
                </h3>
            </div>
            <div data-role="content">
                <div data-role="fieldcontain">
                    <label for="selectmenu1">
                        Sort By
                    </label>
                    <select name="selectmenu1" id="selectmenu1" data-theme="b">
                        <option value="recent">
                            Most Recent
                        </option>
                    </select>
                </div>
                <ul data-role="listview" data-divider-theme="b" data-inset="true">
                    <li data-role="list-divider" role="heading">
                        History
                    </li>
                    <li data-theme="c">
                        <a href="#page1" data-transition="slide">
                            placeholder
                        </a>
                    </li>
                </ul>
            </div>
            <div data-theme="b" data-role="footer">
                <h5>
                    &copy; 2012 CS309 Team F2. All Rights Reserved.
                </h5>
            </div>
        </div>