        <div data-role="page" data-theme="b" id="page6">
            <div data-theme="b" data-role="header" data-position="inline">
				<a href="/home/" data-icon="home" data-theme="c">Home</a>
                <h3>
                    Search
                </h3>
            </div>
            <div id="content" data-role="content">
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="textinput7">
                            Start
                        </label>
                        <input id="start" placeholder="" value="" type="text" />
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="textinput9">
                            End
                        </label>
                        <input id="end" placeholder="" value="" type="text" />
                    </fieldset>
                </div>
                <a data-role="button" data-transition="fade" data-theme="b" href="#page6" data-icon="search" data-iconpos="left" onclick="searchByKeyword($('#start').val(),$('#end').val())">
                    Search
                </a>
                <ul data-role="listview" data-divider-theme="b" data-inset="true">
                    <li data-role="list-divider" role="heading">
                        Search Results
                    </li>
                </ul>
            </div>
            <div data-theme="b" data-role="footer">
                <h5>
                    &copy; 2012 CS309 Team F2. All Rights Reserved.
                </h5>
            </div>
        </div>
		<script type="text/javascript">
		jQuery(document).ready(function($) {
			var $start = "";
			var $end = "";
			if(typeof getUrlVars()["start"] != 'undefined')
			{
				$start = getUrlVars()["start"];
			}
			if(typeof getUrlVars()["end"] != 'undefined')
			{
				$end = getUrlVars()["end"];
			}
			if ($start == "" && $end == "")
			{ // do nothing }
			else
			{
				searchByKeyword($start, $end);
			}
		});	
		</script>